<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>
  </head>
  <style>
  	body {
    	display: flex;
        align-items:center;
        justify-content: center;
    }
    .email__container {
    	width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        flex-wrap;
    }
  	.logo {
    	display: flex;
        align-items:center;
        height: 80px;
        margin-bottom: 20px;
    }
    .logo-img {
    	width: 100%;
        height: 100%;
        object-fit: cover;
    }
    	.btn-reset {
    	background: red;
        padding: 14px 20px;
        width: 200px;
        text-align: center;
        border-radius: 8px;
    }
    .btn-reset a {
    	text-decoration: none;
        font-weight: 500;
        color: #FFF;
    }
    .email__description {
    	text-align:center;
    }
  </style>
  <body>
    <div class="email__container">
    <h2>Hello {{name}}! </h2>
      <div class="logo">
        <div>
          <img
            src="../images/foogle-logo.svg"
            alt="logo"
            class="logo-img"
          />
        </div>
        <div>Foogle</div>
      </div>
      <div class="email__description">
        <p>
        To reset your password, click on reset button below
        <p>
        <p>If you did not request any password resets, then ignore this email.</p>
      </div>
      <div class="btn-reset">
        <a href={{url}}>Reset Password</a>
      </div>
    </div>
  </body>
</html>
